*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/buildSrc/build/
.idea/
.idea/sonarlint/
/sinemalogkeystore.jks
/fastlane
/app/release/app-release.aab
